
<div class="row" ng-controller="BlankController">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">My Businesses </h4> </div>
            <ol class="breadcrumb">
                <li><a href="#">Dashboard</a></li>
                <li class="active">My Businessess</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-12 col-sm-6"> <img class="img-responsive" alt="user" src="../plugins/images/big/img1.jpg">
          <div class="white-box">
            <h3 class="m-t-10 m-b-5 checkmate400">Business A</h3>
            <button class="btn btn-success btn-rounded waves-effect waves-light m-t-10">Manage</button>
          </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6"> <img class="img-responsive" alt="user" src="../plugins/images/big/img2.jpg">
          <div class="white-box">
            <h3 class="m-t-10 m-b-5 checkmate400">Business B</h3>
            <button class="btn btn-success btn-rounded waves-effect waves-light m-t-10">Manage</button>
          </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6"> <img class="img-responsive" alt="user" src="../plugins/images/big/img3.jpg">
          <div class="white-box">
            <h3 class="m-t-10 m-b-5 checkmate400">Business C</h3>
            <button class="btn btn-success btn-rounded waves-effect waves-light m-t-10">Manage</button>
          </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6"> <img class="img-responsive" alt="user" src="../plugins/images/big/img4.jpg">
          <div class="white-box">
            <h3 class="m-t-10 m-b-5 checkmate400">Business D</h3>
            <button class="btn btn-success btn-rounded waves-effect waves-light m-t-10">Manage</button>
          </div>
        </div>
    </div>
</div>



