
<div class="row" ng-controller="BlankController">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Working Hours </h4> </div>
            <ol class="breadcrumb">
                <li><a href="#">Dashboard</a></li>
                <li class="active">Working Hours</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <h4>Monday
                    <span class="pull-right m-r-10"><input type="checkbox" checked class="js-switch" data-color="#3399ff" data-size="small" /></span>
                    <span class="pull-right m-r-10" style="color:#54667a;">Close</span>
                </h4>
                <div class="col-lg-6">
                    <div class="white-box">
                        <label>Start Time</label>
                        <div class="input-group clockpicker " data-placement="bottom" data-align="top" data-autoclose="true">
                            <input type="text" class="form-control" value="08:00"> <span class="input-group-addon"> <span class="glyphicon glyphicon-time"></span> </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="white-box">
                        <label>End Time</label>
                        <div class="input-group clockpicker " data-placement="left" data-align="top" data-autoclose="true">
                            <input type="text" class="form-control" value="08:00"> <span class="input-group-addon"> <span class="glyphicon glyphicon-time"></span> </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <h4>Tuesday
                    <span class="pull-right m-r-10"><input type="checkbox" checked class="js-switch" data-color="#3399ff" data-size="small" /></span>
                </h4>
                <div class="col-lg-6">
                    <div class="white-box">
                        <label>Start Time</label>
                        <div class="input-group clockpicker " data-placement="bottom" data-align="top" data-autoclose="true">
                            <input type="text" class="form-control" value="08:00"> <span class="input-group-addon"> <span class="glyphicon glyphicon-time"></span> </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="white-box">
                        <label>End Time</label>
                        <div class="input-group clockpicker " data-placement="left" data-align="top" data-autoclose="true">
                            <input type="text" class="form-control" value="08:00"> <span class="input-group-addon"> <span class="glyphicon glyphicon-time"></span> </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <h4>Wednesday
                    <span class="pull-right m-r-10"><input type="checkbox" checked class="js-switch" data-color="#3399ff" data-size="small" /></span>
                </h4>
                <div class="col-lg-6">
                    <div class="white-box">
                        <label>Start Time</label>
                        <div class="input-group clockpicker " data-placement="bottom" data-align="top" data-autoclose="true">
                            <input type="text" class="form-control" value="08:00"> <span class="input-group-addon"> <span class="glyphicon glyphicon-time"></span> </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="white-box">
                        <label>End Time</label>
                        <div class="input-group clockpicker " data-placement="left" data-align="top" data-autoclose="true">
                            <input type="text" class="form-control" value="08:00"> <span class="input-group-addon"> <span class="glyphicon glyphicon-time"></span> </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <h4>Thursday
                    <span class="pull-right m-r-10"><input type="checkbox" checked class="js-switch" data-color="#3399ff" data-size="small" /></span>
                </h4>
                <div class="col-lg-6">
                    <div class="white-box">
                        <label>Start Time</label>
                        <div class="input-group clockpicker " data-placement="bottom" data-align="top" data-autoclose="true">
                            <input type="text" class="form-control" value="08:00"> <span class="input-group-addon"> <span class="glyphicon glyphicon-time"></span> </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="white-box">
                        <label>End Time</label>
                        <div class="input-group clockpicker " data-placement="left" data-align="top" data-autoclose="true">
                            <input type="text" class="form-control" value="08:00"> <span class="input-group-addon"> <span class="glyphicon glyphicon-time"></span> </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <h4>Friday
                    <span class="pull-right m-r-10"><input type="checkbox" checked class="js-switch" data-color="#3399ff" data-size="small" /></span>
                </h4>
                <div class="col-lg-6">
                    <div class="white-box">
                        <label>Start Time</label>
                        <div class="input-group clockpicker " data-placement="bottom" data-align="top" data-autoclose="true">
                            <input type="text" class="form-control" value="08:00"> <span class="input-group-addon"> <span class="glyphicon glyphicon-time"></span> </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="white-box">
                        <label>End Time</label>
                        <div class="input-group clockpicker " data-placement="left" data-align="top" data-autoclose="true">
                            <input type="text" class="form-control" value="08:00"> <span class="input-group-addon"> <span class="glyphicon glyphicon-time"></span> </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <h4>Saturday
                    <span class="pull-right m-r-10"><input type="checkbox" checked class="js-switch" data-color="#3399ff" data-size="small" /></span>
                </h4>
                <div class="col-lg-6">
                    <div class="white-box">
                        <label>Start Time</label>
                        <div class="input-group clockpicker " data-placement="bottom" data-align="top" data-autoclose="true">
                            <input type="text" class="form-control" value="08:00"> <span class="input-group-addon"> <span class="glyphicon glyphicon-time"></span> </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="white-box">
                        <label>End Time</label>
                        <div class="input-group clockpicker " data-placement="left" data-align="top" data-autoclose="true">
                            <input type="text" class="form-control" value="08:00"> <span class="input-group-addon"> <span class="glyphicon glyphicon-time"></span> </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <h4>Sunday
                    <span class="pull-right m-r-10"><input type="checkbox" checked class="js-switch" data-color="#3399ff" data-size="small" /></span>
                </h4>
                <div class="col-lg-6">
                    <div class="white-box">
                        <label>Start Time</label>
                        <div class="input-group clockpicker " data-placement="bottom" data-align="top" data-autoclose="true">
                            <input type="text" class="form-control" value="08:00"> <span class="input-group-addon"> <span class="glyphicon glyphicon-time"></span> </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="white-box">
                        <label>End Time</label>
                        <div class="input-group clockpicker " data-placement="left" data-align="top" data-autoclose="true">
                            <input type="text" class="form-control" value="08:00"> <span class="input-group-addon"> <span class="glyphicon glyphicon-time"></span> </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div>
                    <span class="input-group-btn">
                      <button type="button" id="" class="btn waves-effect waves-light btn-success pull-right m-r-10">Save</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

 <script>
        // Clock pickers
        $('#single-input').clockpicker({
            placement: 'bottom'
            , align: 'left'
            , autoclose: true
            , 'default': 'now'
        });
        $('.clockpicker').clockpicker({
            donetext: 'Done'
        , }).find('input').change(function () {
            console.log(this.value);
        });
        if (/mobile/i.test(navigator.userAgent)) {
            $('input').prop('readOnly', true);
        }
       
        // Date Picker
        // jQuery('.mydatepicker, #datepicker').datepicker();
        // jQuery('#datepicker-autoclose').datepicker({
        //     autoclose: true
        //     , todayHighlight: true
        // });
        // jQuery('#date-range').datepicker({
        //     toggleActive: true
        // });
        // jQuery('#datepicker-inline').datepicker({
        //     todayHighlight: true
        // });
        // Daterange picker
        // $('.input-daterange-datepicker').daterangepicker({
        //     buttonClasses: ['btn', 'btn-sm']
        //     , applyClass: 'btn-danger'
        //     , cancelClass: 'btn-inverse'
        // });
        // $('.input-daterange-timepicker').daterangepicker({
        //     timePicker: true
        //     , format: 'MM/DD/YYYY h:mm A'
        //     , timePickerIncrement: 30
        //     , timePicker12Hour: true
        //     , timePickerSeconds: false
        //     , buttonClasses: ['btn', 'btn-sm']
        //     , applyClass: 'btn-danger'
        //     , cancelClass: 'btn-inverse'
        // });
        // $('.input-limit-datepicker').daterangepicker({
        //     format: 'MM/DD/YYYY'
        //     , minDate: '06/01/2017'
        //     , maxDate: '06/30/2017'
        //     , buttonClasses: ['btn', 'btn-sm']
        //     , applyClass: 'btn-danger'
        //     , cancelClass: 'btn-inverse'
        //     , dateLimit: {
        //         days: 6
        //     }
        // });
        jQuery(document).ready(function () {
                // Switchery
                var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
                $('.js-switch').each(function () {
                    new Switchery($(this)[0], $(this).data());
                });

            });
    </script>




