<!DOCTYPE html>
<html>
  <body>
    <p>Dear <%=recipientName%>,</p>
    <br/>
    <p><em>Thank you</em> for creating an account at skye app.</p>
    <p>Click on the following link to activate your account <a href="<%=link%>"><%=link%></a></p>
    <p>Love,<br/><%=senderName%></p>
  </body>
</html>
